name: Build
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container:
          - bazzite
          - kinoite

    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@main

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install just
        uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3

      - name: Build ${{ matrix.container }} container
        run: just container ${{ matrix.container }}
